<!--<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"-->
         <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
         <!--xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">-->

    <!--<display-name>My Web Application</display-name>-->

    <!--&lt;!&ndash; location of spring xml files &ndash;&gt;-->
    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>classpath:intAppContext.xml</param-value>-->
    <!--</context-param>-->



    <!--&lt;!&ndash; Camel servlet &ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>CamelServlet</servlet-name>-->
        <!--<servlet-class>org.apache.camel.component.servlet.CamelHttpTransportServlet</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <!--&lt;!&ndash; Camel servlet mapping &ndash;&gt;-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>CamelServlet</servlet-name>-->
        <!--<url-pattern>/camel/*</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--&lt;!&ndash;<listener>&ndash;&gt;-->
        <!--&lt;!&ndash;<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>&ndash;&gt;-->
    <!--&lt;!&ndash;</listener>&ndash;&gt;-->
<!--</web-app>-->